@import-normalize;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'SFProDisplay';
  font-style: italic;
  font-weight: 100;
  src: local('SF Pro Display Ultralight Italic'), url('./fonts/SFPRODISPLAYULTRALIGHTITALIC.woff') format('woff');
}


@font-face {
  font-family: 'SFProDisplay';
  font-style: italic;
  font-weight: 200;
  src: local('SF Pro Display Thin Italic'), url('./fonts/SFPRODISPLAYTHINITALIC.woff') format('woff');
}


@font-face {
  font-family: 'SFProDisplay';
  font-style: italic;
  font-weight: 300;
  src: local('SF Pro Display Light Italic'), url('./fonts/SFPRODISPLAYLIGHTITALIC.woff') format('woff');
}


@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro Display Medium'), url('./fonts/SFPRODISPLAYMEDIUM.woff') format('woff');
}


@font-face {
  font-family: 'SFProDisplay';
  font-style: italic;
  font-weight: 500;
  src: local('SF Pro Display Semibold Italic'), url('./fonts/SFPRODISPLAYSEMIBOLDITALIC.woff') format('woff');
}


@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 600;
  src: local('SF Pro Display Bold'), url('./fonts/SFPRODISPLAYBOLD.woff') format('woff');
}


@font-face {
  font-family: 'SFProDisplay';
  font-style: italic;
  font-weight: 700;
  src: local('SF Pro Display Heavy Italic'), url('./fonts/SFPRODISPLAYHEAVYITALIC.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: normal;
  src: local('SF Pro Display Regular'), url('./fonts/SFPRODISPLAYREGULAR.woff') format('woff');
}
